{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:1200px;margin:auto;">

  <h2>Side‑by‑Side Code Comparison</h2>

  <p style="opacity:.7;">
    Showing the most similar file pair detected across repositories.
  </p>

  <div class="code-compare">

    <div class="code-block">
      {{ left_html | safe }}
    </div>

    <div class="code-block">
      {{ right_html | safe }}
    </div>

  </div>

  <br>

  <button class="primary-btn"
          onclick="location.href='{{ url_for('main.results_home') }}'">
    Back to Results
  </button>

</div>

{% endblock %}
